h2 {
  font-weight: 700;
}
.countries-options {
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.standings-table {
  text-align: center;
  .team-logo-td {
    width: 70px;
    text-align: center;
    img {
      width: 50%;
    }
  }
}
